extends index

block content

	.container-fluid
	.jumbotron
		h2 Current Merge Requests for #{selected_group}
		table#pickle.table.table-hover.table-striped.table-bordered
			th Merge Request 
			th Created At
			th Last Updated
			th Current State
			th Raised By

			if merge_requests
				for mr in merge_requests
					- var created_date = new Date(mr.created_at).getTime()
					- var today = new Date()
					- var now = new Date().getTime()
					- var yesterday = new Date().setDate(today.getDate() - 1)
					- var day_before_yesterday = new Date().setDate(today.getDate() - 2)

					if created_date < day_before_yesterday
						tr.danger(class=mr)
							td.title 
								a(href=mr.web_url) #{mr.title}
							td.created_at #{mr.created_at}
							td.updated_at #{mr.updated_at}
							td.state #{mr.state} 
							td.author.name
								a(href=mr.author.web_url) #{mr.author.name}
					else if created_date < yesterday
						tr.warning(class=mr)
							td.title 
								a(href=mr.web_url) #{mr.title}
							td.created_at #{mr.created_at}
							td.updated_at #{mr.updated_at}
							td.state #{mr.state} 
							td.author.name
								a(href=mr.author.web_url) #{mr.author.name}			
					else if created_date < now
						tr.info(class=mr)
							td.title 
								a(href=mr.web_url) #{mr.title}
							td.created_at #{mr.created_at}
							td.updated_at #{mr.updated_at}
							td.state #{mr.state} 
							td.author.name
								a(href=mr.author.web_url) #{mr.author.name}
					else
						tr(class=mr)
							td.title 
								a(href=mr.web_url) #{mr.title}
							td.created_at #{mr.created_at}
							td.updated_at #{mr.updated_at}
							td.state #{mr.state} 
							td.author.name
								a(href=mr.author.web_url) #{mr.author.name}	